// Import all of Bootstrap's CSS
@import 'bootstrap/scss/bootstrap';

body {
  color: white;
  background-color: black;
}

#game_screen {
  padding-top: 7px;
  
  #screen_heading {
    font-size: 24px;
    font-weight: bold;
    padding-top: 10px;
  }

  #game_instructions {
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  #game_board {
    display: block;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #304321;
    background: #000;
  }

  #game_state_info {
    display: flex;
    margin-top: 10px;
    font-weight: bold;

    .left {
      width: 50%;

      #high_score {
        font-size: 16px;
      }

      #score {
        font-size: 18px;
      }
    }

    .right {
      width: 50%;

      #progress_bar_container {
        display: block;
        height: 15px;
        width: 100%;

        svg {
          border: 3px solid #304321;
        }
      }
    }
  }
}
