body {
  -webkit-app-region: drag;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

#game_container {
  width: 348px;
}

canvas {
  border: 5px solid #415d43;
  background: #000;
}

#game_heading {
  font-size: 24px;
  font-weight: bold;
  padding-top: 10px;
}

#game_instructions {
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
}

#game_board {
  display: block;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
}

#game_state_info {
  display: flex;
  margin-top: 10px;
  font-weight: bold;
}

#game_state_info > .left {
  width: 50%;
}


#game_state_info > .right {
  width: 50%;
}

#high_score {
  font-size: 16px;
}

#score {
  font-size: 18px;
}

#progress_bar_container {
  display: block;
  height: 10px;
  width: 100%;
}
